* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	background-color: none;
}

.nav-link {
	margin-bottom: 0px;
}

/*.row, .col {
	border: 1px solid black;
}*/

.home {
	min-height: : 100vh;
	overflow-y: auto;
}

.top-container {
	min-height: 100vh;
	background-color: pink;
	overflow: hidden;
}

.title-header {
	position: relative;
	top: 150px;
	text-align: center;
}

.search-bar {
	position: relative;
	top: 250px;
}

.features {
	min-height: 100vh;
}

.features-header {
	margin: auto;
	text-align: center;
	margin-top: 100px;
}
 
.features > .card {
	min-width: 28%;
	margin-left: 2.67%;
	margin-right: 2.67%;
}

.reviews-header {
	margin: auto;
	text-align: center;
	margin-top: 200px;
}

.reviews {
	min-height: 100vh;
	margin: auto;
	text-align: center;
	margin-top: 100px;
}

.card > .blockquote {
	border: none;
}
.MultiCarousel { 
	float: left; 
	overflow: hidden;
	 padding: 15px; 
	 width: 100%; 
	 position:relative;
	 margin-top: 200px;
}

.MultiCarousel .MultiCarousel-inner { 
	transition: 1s ease all; 
	float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
	float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
	text-align: center;
	padding:10px;
	margin:10px;
	background:#f1f1f1;
	color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
	position:absolute;
	border-radius:50%;
	top:calc(50% - 20px);
}

.MultiCarousel .leftLst { 
	left:0;
}

.MultiCarousel .rightLst { 
	right:0;
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
	pointer-events: none; 
	background:#ccc;
}

.footer-page {
	width: 100%
	min-height: 300px;
	margin-top: 200px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}